/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* || CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
  word-wrap:break-word;
}

a:link, a:visited {
  color: black;
}

::-moz-selection { /* Code for Firefox */
  background: #fcb16b;
}

::selection {
  background: #fcb16b;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

/* Fonts Styles */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std Medium'), local('Circular-Std-Medium'),
      url('../../Fonts/CircularStd-Medium.woff2') format('woff2'),
      url('../../Fonts/CircularStd-Medium.woff') format('woff'),
      url('../../Fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Book';
  src: local('Circular Std Book'), local('Circular-Std-Book'),
      url('../../Fonts/CircularStd-Book.woff2') format('woff2'),
      url('../../Fonts/CircularStd-Book.woff') format('woff'),
      url('../../Fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Book Italic';
  src: local('Circular Std Book Italic'), local('Circular-Std-Book-Italic'),
      url('../../Fonts/CircularStd-BookItalic.woff2') format('woff2'),
      url('../../Fonts/CircularStd-BookItalic.woff') format('woff'),
      url('../../Fonts/CircularStd-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std Bold';
  src: local('Circular Std Bold'), local('Circular-Std-Bold'),
      url('../../Fonts/CircularStd-Bold.woff2') format('woff2'),
      url('../../Fonts/CircularStd-Bold.woff') format('woff'),
      url('../../Fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Black';
  src: local('Circular Std Black'), local('Circular-Std-Black'),
      url('../../Fonts/CircularStd-Black.woff2') format('woff2'),
      url('../../Fonts/CircularStd-Black.woff') format('woff'),
      url('../../Fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'franchise';
  src: local('franchise'), local('franchise'),
      url('../../Fonts/franchise-webfont.woff2') format('woff2'),
      url('../../Fonts/franchise-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* || Home Page Layout - Desktop  */
/* Including Subreddit/Search Views */

/* Overall Container */
.top-container {
  overflow: auto;
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
}

.top-bg {
  opacity: 0.15;
  position: fixed;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  background-image: url('../../Icons/2.webp');
  background-size: 27%;
  background-repeat: repeat;
}

.preloader-1 {
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 62.5%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  opacity: 0.8;
}

#loading-container {
  display: flex;
  justify-content: center;
}

.loading {
  color: rgb(0, 0, 0);
  margin: 5px 0;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  font-size: 18px;
}

.preloader-1 .line {
  width: 5px;
  height: 17px;
  background: rgb(0, 0, 0);
  margin: 0 1px;
  display: inline-block;
  animation: opacity-1 1000ms infinite ease-in-out;
}

.preloader-1 .line-1 { animation-delay: 800ms; }
.preloader-1 .line-2 { animation-delay: 600ms; }
.preloader-1 .line-3 { animation-delay: 400ms; }
.preloader-1 .line-4 { animation-delay: 200ms; }
.preloader-1 .line-6 { animation-delay: 200ms; }
.preloader-1 .line-7 { animation-delay: 400ms; }
.preloader-1 .line-8 { animation-delay: 600ms; }
.preloader-1 .line-9 { animation-delay: 800ms; }

@keyframes opacity-1 { 
  0% { 
    opacity: 1;
  }
  50% { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }  
}

@keyframes opacity-2 { 
  0% { 
    opacity: 1;
    height: 15px;
  }
  50% { 
    opacity: 0;
    height: 12px;
  }
  100% { 
    opacity: 1;
    height: 15px;
  }  
}

/* Container of left-hand side and its children */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.pseudoNav {
  width: 300px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 300px;
  height: 100%;
  position: fixed;
  left: 0%;
  background-color: white;
  box-shadow: 0 0 2rem 0 rgb(41 48 66 / 25%);
}

.branding {
  box-sizing: border-box;
  width: 100%;
  height: 130px;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  padding-left: 12px;
  overflow-x: hidden;
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  width: 40px;
  margin-left: auto;
  margin-right: 2px;
  transition-duration: 1s;
}

input {
  box-sizing: border-box;
  display: flex;
  align-items: center;  
  opacity: 0;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-family: 'Press Start 2P';
  font-size: 10px;
  padding-right: 70px;
  transition-duration: 0.5s;
  border: 3px solid black;
}

.search-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.search-icon {
  width: 26px;
  height: 26px;
  cursor: pointer;
  padding: 6px 6px;
}

.form:hover{
  flex: 1;
  height: 124px;
}

.form:hover input{
 opacity: 1;
 padding-left: 15px;
 margin-right: 10px;
 background-color: rgb(236, 236, 236);
}

.form:hover ~ .first40 {
  width: 0%;
}

.first40 {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  transition: width 1s;
}

.first40 img {
  width: 2.15em;
  margin-right: 7px;
  padding: 5px 5px;
  background-color: #888;
  border-radius: 10%;
}

.name {
  display: inline-block;
  font-family: 'franchise', cursive;
  font-size: 3em;
  color: black;
  margin-top: 9px;
}

.name:hover {
  color: #e6d201;
}

.subreddit-container {
  width: 100%;
  height: 89%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  overflow-x: hidden;
}

.decorative {
  width: 100%;
  background-image: url('../../Icons/retro-BG.webp');
  background-size: 80%;
  height: 40px;
}

.subreddit-title {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-left: 26px;
  border-bottom: 2px solid rgb(209, 209, 209);
  padding-bottom: 8px;
}

.icon {
  height: 22px;
  margin-right: 14px;
}

h2 {
  font-family: 'Circular Std Black', sans-serif;
  color: rgb(117, 117, 117);
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 3px;
}

ul {
  width: 100%;
  margin-top: 4px;
}

#nav-item {
  font-family: 'Circular Std', sans-serif;
  font-size: 14px;
  padding: 7px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#nav-item:hover {
  color: red;
}

#nav-item img {
  margin-right: 12px;
  height: 36px;
  border-radius: 50%;
}

/* Container on right-hand side and its children*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.pseudoMainHeader {
  width: 370px;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 370px;
  height: 100%;
  position: fixed;
  right: 0;
  padding: 0px 0px;
}

.current-view {
  box-shadow: 0 0 2rem 0 rgb(41 48 66 / 25%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}

.active-subreddit {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.active-subreddit h3 {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 6px;
  padding: 5px 10px 11px 20px;
  font-family: 'Circular Std Black', sans-serif;
  font-size: 16px;
  color: rgb(134, 134, 134);
  border-bottom: 2px solid rgb(209, 209, 209);
}

.active-subreddit h4 {
  margin-top: 5px;
  padding: 8px 10px 8px 20px;
  font-family: 'Circular Std Book', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: black;
}

.subscribers {
  color: lightskyblue;
  font-size: 17px;
  font-family: 'Circular Std', sans-serif;
  padding-right: 2px;
}

.accounts {
  color: rgb(103, 221, 103);
  font-size: 17px;
  font-family: 'Circular Std', sans-serif;
  padding-right: 2px;
}

.add-remove {
  display: flex;
  align-items: center;
}

.active-subreddit h1 {
  padding: 8px 11px 8px 21px;
  margin-bottom: 5px;
  font-family: 'Circular Std Bold', sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.fa-plus-square {
  color: lightskyblue;
  padding-bottom: 4px;
  font-size: 14px;
}

.fa-plus-square:hover {
  color: dodgerblue;
  cursor: pointer;
}

.fa-plus-square:hover ~ h1 {
  color: lightskyblue;
}

.fa-minus-square {
  color: lightcoral;
  padding-bottom: 4px;
  font-size: 14px;
}

.fa-minus-square:hover {
  color: red;
  cursor: pointer;
}

.fa-minus-square:hover ~ h1 {
  color: rgb(247, 164, 164);
}

.active-subreddit p {
  max-width: 94%;
  word-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  padding: 4px 12px 8px 20px;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.change-view {
  width: 100%;
  padding-top: 18px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid rgb(209, 209, 209);
}

.change {
  cursor: pointer;
}

.hot:hover > i {
  color: lightcoral !important;
}

.top:hover > i {
  color: lightgreen !important;
}

.new:hover > i {
  color: rgb(152, 229, 255) !important;
}

.fa-fire-alt {
  font-size: 30px;
  color: rgb(161, 161, 161);
}

.fa-medal {
  font-size: 30px;
  color: rgb(160, 160, 160);
}

.fa-certificate {
  font-size: 30px;
  color: rgb(136, 136, 136);
}

i span {
  font-family: 'Circular Std Book', sans-serif;
  font-size: 13px;
  padding-left: 4px;
}

.suggestions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  width: 100%;
  background-color: white;
}

.suggestions #nav-item {
  padding-left: 10px;
}

.top-title {
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 9;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  box-sizing: border-box;
  border-bottom: 2px solid rgb(209, 209, 209);
}

.SSul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
}

.subs-BG {
  width: 100%;
  height: 40px;
  background-image: url('../../Icons/retro-circles.webp');
  background-size: 60%;
  opacity: 0.78;
}

.top-header {
  display: flex;
  align-items: center;  
  width: 50%;
  white-space: nowrap;
  overflow-x: hidden;
  transition: width 1s;
  padding-left: 28px;
}

.top-header h2 {
  font-size: 16px;
  padding-top: 2px;
  padding-bottom: 0px;
  color: black;
}

#SSform {
  height: 36px;
  width: 36px;
  margin-right: 6px;
}

#SSinput { 
  margin-right: 13px; 
  height: 30px;
}

#SSicon {
  height: 22px;
  width: 22px;
}

#SSform:hover {
  height: 80px;
}

#SSform:hover #SSinput{
 opacity: 1;
 margin-right: 15px;
 background-color: white;
}

#SSform:hover ~ .top-header {
  width: 0%;
}

.returnedLI {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.add-to-nav {
  margin-left: 8px;
  width: 10px;
}

.fa-plus {
  font-size: 10px;
  cursor: pointer;
}

.fa-plus:hover {
  color: dodgerblue;
}

/* Central Container and its immediate children */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex: 1;
  height: fit-content;
  min-height: 100%;
  margin-bottom: 25px;
}

main #posts {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Post Containers */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.post-divider {
  box-shadow:
  0 1.9px 2px rgba(0, 0, 0, 0.02),
  0 4.5px 4.7px rgba(0, 0, 0, 0.028),
  0 8.5px 8.9px rgba(0, 0, 0, 0.035),
  0 15.2px 15.9px rgba(0, 0, 0, 0.042),
  0 28.4px 29.7px rgba(0, 0, 0, 0.05),
  0 68px 71px rgba(0, 0, 0, 0.07);
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}

.sub-image img {
  margin: 13px 13px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.reddit-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: fit-content;
}

.post-flex-item {
  display: flex;
  width: 99%;
}

/* Top row of a post container (subreddit & icon) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.sub {
  margin-top: 10px;
  margin-bottom: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Circular Std Bold', sans-serif;
  font-size: 13px;
}

.subreddit-data {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-height: 55px;
}

.subreddit-data h3 {
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  padding-bottom: 3px;
  padding-left: 2px;
  height: 28px;
}

.awards-container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.awards-container img {
  height: 18px;
  width: 18px;
  margin: 2px 1px;
}

.award {
  display: flex;
  align-items: center;
  color: rgb(146, 146, 146);
  font-weight: 400;
  font-size: 11px;
  margin-right: 9px;
}

/* Content of a post */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.content {
  box-sizing: border-box;
  height: 100%;
  background-color: white;
  flex-direction: column;
  justify-content: center;
}

.title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 30px 15px 0px;
  font-family: 'Circular Std Book';
}

.link:link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.oneliner {
  width: 100%;
}

.media {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 60px;
}

.image {
  max-width: 95%;
  max-height: 700px;
  border-radius: 16px;
}

.player-wrapper {
  width: 98%;
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}


.text {
  box-sizing: border-box;
  width: 96%;
  padding: 50px 30px;
  font-family: 'Circular Std Book', sans-serif;
  font-size: 15px;
  background-color: rgb(238, 238, 238);
  border-radius: 8px;
}

.long {
  box-sizing: border-box;
  width: 96%;
  padding: 50px 30px;
  font-family: 'Circular Std Book', sans-serif;
  font-size: 15px;
  background-color: rgb(238, 238, 238);
  border-radius: 8px;
  max-height: 300px;
  overflow: hidden;
  position: relative;
}

.readmore {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  left: 0px;
  right: 0px;
  top: 50px;
  height: 350px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(238, 238, 238));
}

.read {
  border: none;
  outline: none;
  margin-bottom: 5px;
  width: 100%;
  background-color: rgba(238, 238, 238, 0);
  font-family: 'Circular Std Bold', sans-serif;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.read:hover {
  color: red;
  cursor: pointer;
}

.thumbnail {
  height: 140px;
  width: auto;
  border-radius: 8px;
}

/* Uniform width for Twitter content */
[id^="twitter-widget"] {
  width: 650px !important;
}

/* Bottom row of a post container (buttons, etc) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.options {
  height: 24px;
  padding-bottom: 12px;
  padding-top: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  font-weight: 900;
  color: rgb(107, 107, 107);
  align-items: center;
}

.voting-buttons {
  display: flex;
  align-items: center;
}

.upvote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.downvote {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  margin-left: 28px;
  margin-right: 10px;
}

.bi-heart{
  color: black;
  font-size: 24px;
  cursor: pointer;
  transition-duration: 0.2s;
  z-index: 9;
}

.bi-x-circle {
  color: black;
  font-size: 24px;
  cursor: pointer;
  transition-duration: 0.2s;
  z-index: 9;
}

.bi-chat-left {
  color: black;
  font-size: 24px;
  cursor: pointer;
  transition-duration: 0.1s;
  z-index: 9;
}

.bi-heart-fill {
  position: absolute;
  font-size: 24px;
  color: #ffffff;
}

.bi-x-circle-fill {
  position: absolute;
  font-size: 24px;
  color: #ffffff;
}

.bi-chat-left-fill {
  position: absolute;
  font-size: 24px;
  color: #ffffff;
}

.bi-heart:hover ~ .bi-heart-fill {
  color: gold;
}

.bi-x-circle:hover ~ .bi-x-circle-fill {
  color: lightcoral;
}

.bi-chat-left:hover ~ .bi-chat-left-fill {
 color: lightgray;
}

.upvote:hover ~ .votes {
  color: goldenrod;
}

.downvote:hover ~ .votes {
  color: red;
}

.votes {
  margin: 2px 10px;
}

#comments {
  display: flex;
}

#comments:hover #num-comments {
  color: dodgerblue;
}

#comments:hover .bi-chat-left-fill {
  color: lightgrey;
}

#num-comments {
  color: rgb(107, 107, 107);
  padding-top: 7px;
}

/* Comments container and its children */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.comments-container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}

.comment-item {
  max-width: 100%;
  width: 96%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 2%;
  padding-right: 2%;
  border-top: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.comment-item p {
  font-family: 'Zilla Slab', serif;
}

.author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.author img {
  height: 20px;
  width: 20px;
  margin-right: 6px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.comment-info {
  display: flex;
  align-items: center;
  margin-top: 12px; 
  font-family: 'Circular Std Book', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.username {
  font-weight: 700;
  cursor: pointer;
  font-family: 'Circular Std Book';
  font-size: 12.5px;
}

.awards-container-comment {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 20px;
}

.awards-container-comment img {
  height: 16px;
  width: 16px;
  margin: 2px 1px;
}

.award-comment {
  display: flex;
  align-items: center;
  color: rgb(146, 146, 146);
  font-weight: 400;
  font-size: 10px;
  margin-right: 9px;
}

#posted-by {
  font-family: 'Circular Std Book', sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  margin-left: auto;
  margin-right: 10px;
  color: rgb(143, 143, 143);
  display: flex;
  align-items: center;
}

#posted-by img {
  height: 20px;
  width: 20px;
  margin: 0px 4px;
  border-radius: 50%;
}

#retro {
  font-family: 'Press Start 2P';
  font-size: 8px;
  margin: 0px 4px;
}

.fa-arrow-up {
  font-size: 14px;
}

.fa-arrow-up:hover {
  color: gold;
  cursor: pointer;
}

.fa-arrow-up:hover ~ .votes {
  color: goldenrod;
}

.fa-arrow-down {
  order: 1;
  font-size: 14px;
}

.fa-arrow-down:hover {
  color: red;
  cursor: pointer;
}

.fa-arrow-down:hover ~ .votes {
  color: red;
}

#comment-time {
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  font-size: 13px;
  font-style: italic;
  display: inline-block;
  margin-left: 7px;
}

.first-reply-layer {
  width: 93%;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 4%;
  padding-right: 2%;
  border-left: 2px solid lightgrey;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.second-reply-layer {
  width: 93%;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 5%;
  padding-right: 2%;
  background-color: rgba(228, 228, 228, 0.884);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Navigation in the Comments Section */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.comment-navigation {
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 100%;
}

.fa-chevron-left {
  margin-right: 16px;
  font-size: 26px;
}

.fa-chevron-left:hover {
  color: dodgerblue;
}

.sort-comments {
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
}

#label {
  min-width: max-content;
  font-family: 'Circular Std Medium';
  font-size: 14px;
}

#current-sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 4px;
  font-family: 'Circular Std Black';
  font-size: 14px;
  color: dodgerblue;
  width: 370px;
}

.fa-sort-down {
  font-size: 15px;
  padding-bottom: 7px;
  padding-left: 5px;
  color: black;
}

#current-sort:hover {
  cursor: pointer;
}

#current-sort:hover > .sort-menu {
  visibility: visible;
  border-radius: 8px;
  margin-left: 10px;
  padding: 0 10px;
  width: 270px;
}

.sort-menu {
  background-color: rgba(136, 136, 136, 0);
  display: flex;
  align-items: center;
  width: 0px;
  height: 40px;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: width 0.7s linear;
}

.sort-menu button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  padding: 0px 0px;
  margin: 0px 0px;
  transition-duration: 0.2s;
}

.sort-menu button:active {
  border-radius: 8px;
  background-color: rgb(197, 234, 255);
}

.sort {
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 8px;
}

.sort:hover {
  color: rgb(62, 158, 253) !important;
  cursor: pointer;
}

.sort span {
  padding-left: 4px;
}