/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* || CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
  word-wrap:break-word;
}

a:link, a:visited {
  color: black;
}

::-moz-selection { /* Code for Firefox */
  background: #91e6fd9d;
}

::selection {
  background: #91e6fd9d;
}

/* Fonts Styles */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std Medium'), local('Circular-Std-Medium'),
      url('../../Fonts/CircularStd-Medium.woff2') format('woff2'),
      url('../../Fonts/CircularStd-Medium.woff') format('woff'),
      url('../../Fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Medium Italic';
  src: local('Circular Std Medium Italic'), local('Circular-Std-Medium-Italic'),
      url('../../Fonts/CircularStd-MediumItalic.woff2') format('woff2'),
      url('../../Fonts/CircularStd-MediumItalic.woff') format('woff'),
      url('../../Fonts/CircularStd-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std Book';
  src: local('Circular Std Book'), local('Circular-Std-Book'),
      url('../../Fonts/CircularStd-Book.woff2') format('woff2'),
      url('../../Fonts/CircularStd-Book.woff') format('woff'),
      url('../../Fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Book Italic';
  src: local('Circular Std Book Italic'), local('Circular-Std-Book-Italic'),
      url('../../Fonts/CircularStd-BookItalic.woff2') format('woff2'),
      url('../../Fonts/CircularStd-BookItalic.woff') format('woff'),
      url('../../Fonts/CircularStd-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std Bold';
  src: local('Circular Std Bold'), local('Circular-Std-Bold'),
      url('../../Fonts/CircularStd-Bold.woff2') format('woff2'),
      url('../../Fonts/CircularStd-Bold.woff') format('woff'),
      url('../../Fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Bold Italic';
  src: local('Circular Std Bold Italic'), local('Circular-Std-Bold-Italic'),
      url('../../Fonts/CircularStd-BoldItalic.woff2') format('woff2'),
      url('../../Fonts/CircularStd-BoldItalic.woff') format('woff'),
      url('../../Fonts/CircularStd-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std Black';
  src: local('Circular Std Black'), local('Circular-Std-Black'),
      url('../../Fonts/CircularStd-Black.woff2') format('woff2'),
      url('../../Fonts/CircularStd-Black.woff') format('woff'),
      url('../../Fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Black Italic';
  src: local('Circular Std Black Italic'), local('Circular-Std-Black-Italic'),
      url('../../Fonts/CircularStd-BlackItalic.woff2') format('woff2'),
      url('../../Fonts/CircularStd-BlackItalic.woff') format('woff'),
      url('../../Fonts/CircularStd-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* || Home Page Layout - Desktop  */
/* Including Subreddit/Search Views */

/* Overall Container */
.top-container {
  overflow: auto;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

/* Container of left-hand side and its children */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 17.5%;
  height: 98%;
  position: fixed;
  left: 1%;
}

.branding {
  box-sizing: border-box;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.288), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 95%;
  height: 60px;
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 8px;
  justify-content: flex-end;
  padding-left: 12px;
  margin-bottom: 8px;
  margin-top: 6px;
  overflow-x: hidden;
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  width: 40px;
  margin-left: auto;
  margin-right: 2px;
  transition-duration: 1s;
}

input{
  box-sizing: border-box;
  display: flex;
  align-items: center;  
  opacity: 0;
  width: 100%;
  height: 40px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-family: 'Circular Std Book';
  transition-duration: 0.5s;
}

.fa{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  color: gold;
  font-size: 24px;
  background-color: rgb(136, 136, 136);
  height: 40px;
  border: 10px solid rgb(41, 41, 41);
  cursor: pointer;
}

.form:hover{
  flex: 1;
}

.form:hover input{
 opacity: 1;
 margin-right: 25px;
 padding-left: 15px;
 background-color: rgb(255, 250, 219);
}

.form:hover ~ .first40 {
  width: 0%;
}

.first40 {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  transition: width 1s;
}

.first40 img {
  width: 2.15em;
  margin-right: 7px;
  padding: 5px 5px;
  background-color: rgb(136, 136, 136);
  border-radius: 10%;
}

.name {
  display: inline-block;
  font-family: 'Fascinate', cursive;
  font-size: 1.8em;
  color: rgb(255, 255, 255);
  margin-top: 4px;
}

.name:hover {
  color: #e6d201;
}

.subreddit-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 95%;
  height: 89%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  overflow: auto;
  overflow-x: hidden;
}

.subreddit-title {
  width: 95%;
  position: absolute;
  background-color: rgb(224, 224, 224);
  z-index: 9;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-left: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

h2 {
  font-family: 'Circular Std Black', sans-serif;
  color: rgb(92, 92, 92);
  font-weight: 700;
  font-size: 17px;
  padding-left: 4px;
}

ul {
  padding-top: 26px;
  width: 98%;
  margin-top: 20px;
}

#nav-item {
  font-family: 'Circular Std', sans-serif;
  font-size: 14px;
  padding: 7px 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 14px;
}

#nav-item:hover {
  color: red;
}

#nav-item img {
  margin-right: 12px;
  height: 36px;
  border-radius: 50%;
}

/* Container on right-hand side and its children*/
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 17.5%;
  height: 98%;
  position: fixed;
  right: 1%;
  padding: 10px 0px;
}

.current-view {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(41, 41, 41);
}

.active-subreddit {
  width: 96%;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.active-subreddit h3 {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 6px;
  padding: 5px 10px 11px 15px;
  font-family: 'Circular Std Black', sans-serif;
  font-size: 16px;
  color: rgb(134, 134, 134);
  border-bottom: 1px solid rgb(80, 80, 80);
}

.active-subreddit h4 {
  margin-top: 5px;
  padding: 8px 10px 8px 15px;
  font-family: 'Circular Std Book', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.subscribers {
  color: lightskyblue;
  font-size: 17px;
  font-family: 'Circular Std', sans-serif;
  padding-right: 2px;
}

.accounts {
  color: lightgreen;
  font-size: 17px;
  font-family: 'Circular Std', sans-serif;
  padding-right: 2px;
}

.add-remove {
  display: flex;
  align-items: center;
}

.active-subreddit h1 {
  padding: 8px 11px 8px 16px;
  margin-bottom: 5px;
  font-family: 'Circular Std Bold', sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: white;
}

.fa-plus-square {
  color: lightgreen;
  padding-bottom: 4px;
  font-size: 14px;
}

.fa-plus-square:hover {
  color: rgb(3, 226, 3);
  cursor: pointer;
}

.fa-plus-square:hover ~ h1 {
  color: rgb(161, 245, 161);
}

.fa-minus-square {
  color: lightcoral;
  padding-bottom: 4px;
  font-size: 14px;
}

.fa-minus-square:hover {
  color: red;
  cursor: pointer;
}

.fa-minus-square:hover ~ h1 {
  color: rgb(247, 164, 164);
}

.active-subreddit p {
  max-width: 94%;
  word-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  padding: 4px 12px 8px 15px;
  font-size: 14px;
  color: white;
}

.change-view {
  width: 96%;
  padding-top: 18px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid rgb(80, 80, 80);
}

.change {
  cursor: pointer;
}

.hot:hover > i {
  color: lightcoral !important;
}

.top:hover > i {
  color: lightgreen !important;
}

.new:hover > i {
  color: rgb(152, 229, 255) !important;
}

.fa-fire-alt {
  font-size: 30px;
  color: white;
}

.fa-medal {
  font-size: 30px;
  color: white;
}

.fa-certificate {
  font-size: 30px;
  color: white;
}

i span {
  font-family: 'Circular Std Book', sans-serif;
  font-size: 13px;
  padding-left: 4px;
}

.suggestions {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex: 1;
  flex-flow: column wrap;
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow-y: auto;
}

.fa-plus {
  font-size: 10px;
}

.fa-plus:hover {
  color: rgb(1, 245, 1);
}

.top-title {
  width: 100%;
  position: absolute;
  background-color: rgb(224, 224, 224);
  z-index: 9;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  box-sizing: border-box;
  padding-left: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.top-header {
  width: 50%;
  white-space: nowrap;
  overflow-x: hidden;
  transition: width 1s;
}

.top-header h2 {
  font-size: 16px;
}

#SSform {
  height: 36px;
  width: 36px;
  margin-right: 6px;
}

#SSsearchbar { 
  margin-right: 10px; 
  height: 36px;
}

#SSicon {
  width: 36px;
  color: black;
  font-size: 22px;
  background-color: rgb(224, 224, 224);
  height: 36px;
  border: none
}

#SSform:hover #SSsearchbar{
 opacity: 1;
 margin-right: 15px;
 background-color: white;
}

#SSform:hover ~ .top-header {
  width: 0%;
}

.returnedLI {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.add-to-nav {
  margin-left: 8px;
  width: 10px;
}

.fa-plus {
  cursor: pointer;
}

.fa-plus:hover {
  color: rgb(3, 238, 3);
}

/* Central Container and its immediate children */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: fit-content;
  min-height: 100%;
  margin-bottom: 25px;
}

main #posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Post Containers */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.reddit-post {
  box-shadow: 0 4px 6px 0 rgba(48, 48, 48, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.062);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: fit-content;
  margin-top: 15px;
  background-color: white;
  border-radius: 16px;
  padding-left: 15px;
}

.post-flex-item {
  display: flex;
  width: 99%;
}

/* Top row of a post container (subreddit & icon) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.sub {
  margin: 7px 0px 17px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Circular Std Bold', sans-serif;
  font-size: 14px;
}

.subreddit-data {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.subreddit-data img {
  margin-right: 7px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.awards-container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 6px;
  padding-left: 10px;
}

.awards-container img {
  height: 18px;
  width: 18px;
  padding-left: 10px;
  margin: 2px 1px;
}

.award {
  display: flex;
  align-items: center;
  color: rgb(146, 146, 146);
  font-weight: 400;
  font-size: 12px;

}

/* Content of a post */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.content {
  height: 100%;
  background-color: white;
}

.title {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 30px 30px 30px;
  font-family: 'Circular Std Book';
}

.link:link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.oneliner {
  width: 100%;
}

.media {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 90%;
  max-height: 800px;
  border-radius: 8px;
}

.video {
  max-width: 90%;
  max-height: 800px;
  border-radius: 8px;
}

.text {
  width: 60%;
  padding: 50px 30px;
  font-family: 'Circular Std Book', sans-serif;
  font-size: 15px;
  background-color: rgb(238, 238, 238);
  border-radius: 8px;
}

.long {
  width: 60%;
  padding: 50px 30px;
  font-family: 'Circular Std Book', sans-serif;
  font-size: 15px;
  background-color: rgb(238, 238, 238);
  border-radius: 8px;
  max-height: 300px;
  overflow: hidden;
  position: relative;
}

.readmore {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  left: 0px;
  right: 0px;
  top: 50px;
  height: 350px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(238, 238, 238));
}

.read {
  border: none;
  outline: none;
  margin-bottom: 5px;
  width: 100%;
  background-color: rgba(238, 238, 238, 0);
  font-family: 'Circular Std Bold', sans-serif;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.read:hover {
  color: red;
  cursor: pointer;
}

.thumbnail {
  height: 140px;
  width: auto;
  border-radius: 8px;
}

/* Uniform width for Twitter content */
[id^="twitter-widget"] {
  width: 450px !important;
}

/* Bottom row of a post container (buttons, etc) */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.options {
  height: 24px;
  margin: 26px 0px 16px 0px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13px;
  font-weight: 900;
  color: rgb(107, 107, 107);
  align-items: center;
}

.voting-buttons {
  display: flex;
  align-items: center;
}

#votes {
 margin: 0px 12px;
}

.fa-arrow-alt-circle-up{
  color: black;
  font-size: 26px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.fa-arrow-alt-circle-up:hover {
  color: rgb(0, 255, 0);
}

.fa-arrow-alt-circle-up:hover ~ #votes {
  color: rgb(0, 255, 0);
}

.fa-arrow-alt-circle-down {
  order: 1;
  color: black;
  font-size: 26px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.fa-arrow-alt-circle-down:hover {
  color: red;
}

.fa-arrow-alt-circle-down:hover ~ #votes {
  color: red;
}

#comments {
  display: flex;
}

#num-comments {
  color: rgb(107, 107, 107);
  padding-top: 7px;
}

#num-comments:hover {
  color: red;
}

.fa-comment-alt {
  font-size: 24px;
  padding-top: 2px;
  margin: 0px 12px 0px 20px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.fa-comment-alt:hover {
  background-color: rgb(233, 233, 233);
  border-radius: 50%;
}

.fa-comment-alt:hover ~ #num-comments {
  color: red;
}

/* Comments container and its children */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.comments-container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}

.comment-item {
  max-width: 100%;
  width: 96%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 2%;
  padding-right: 2%;
  border-top: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.author {
  display: flex;
  align-items: center;
}

.author img {
  height: 20px;
  width: 20px;
  margin-right: 6px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.comment-info {
  display: flex;
  align-items: center;
  margin-top: 12px; 
  font-family: 'Circular Std Book', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.username {
  margin-bottom: 10px;
  font-weight: 700;
  cursor: pointer;
  font-family: 'Circular Std Book';
  font-size: 12.5px;
}

#posted-by {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  margin-left: auto;
  margin-right: 10px;
  color: rgb(143, 143, 143);
  display: flex;
  align-items: center;
}

#posted-by img {
  height: 20px;
  width: 20px;
  margin: 0px 4px;
  border-radius: 50%;
}

.fa-arrow-up {
  font-size: 14px;
}

.fa-arrow-up:hover {
  color: rgb(0, 253, 0);
  cursor: pointer;
}

.fa-arrow-up:hover ~ #votes {
  color: rgb(0, 253, 0);
}

.fa-arrow-down {
  order: 1;
  font-size: 14px;
}

.fa-arrow-down:hover {
  color: red;
  cursor: pointer;
}

.fa-arrow-down:hover ~ #votes {
  color: red;
}

#comment-time {
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  font-size: 13px;
  font-style: italic;
  display: inline-block;
  margin-left: 7px;
}

.first-reply-layer {
  width: 93%;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 4%;
  padding-right: 2%;
  border-left: 2px solid lightgrey;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.second-reply-layer {
  width: 93%;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 5%;
  padding-right: 2%;
  background-color: rgba(228, 228, 228, 0.884);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Navigation in the Comments Section */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.comment-navigation {
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 100%;
}

.fa-chevron-left {
  margin-right: 16px;
  font-size: 26px;
}

.fa-chevron-left:hover {
  color: dodgerblue;
}

.sort-comments {
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
}

#label {
  min-width: max-content;
  font-family: 'Circular Std Medium';
  font-size: 14px;
}

#current-sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 4px;
  font-family: 'Circular Std Black';
  font-size: 14px;
  color: dodgerblue;
  width: 370px;
}

.fa-sort-down {
  font-size: 15px;
  padding-bottom: 7px;
  padding-left: 5px;
  color: black;
}

#current-sort:hover {
  cursor: pointer;
}

#current-sort:hover > .sort-menu {
  visibility: visible;
  background-color: rgb(238, 238, 238);
  border-radius: 8px;
  margin-left: 10px;
  padding: 0 10px;
  width: 270px;
}

.sort-menu {
  display: flex;
  align-items: center;
  width: 0px;
  height: 40px;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: width 1s linear;
}

.sort-menu button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  padding: 0px 0px;
  margin: 0px 0px;
  transition-duration: 0.2s;
}

.sort-menu button:active {
  border-radius: 8px;
  background-color: rgb(197, 234, 255);
}

.sort {
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 8px;
}

.sort:hover {
  color: rgb(62, 158, 253) !important;
  cursor: pointer;
}

.sort span {
  padding-left: 4px;
}

/* Brand and Searchbar get different lines at this screen width */
@media only screen
and (max-width : 1250px) {

  .nav {
    width: 24%;
  }

  .main {
    width: 72%;
  }

  .branding {
    height: 120px;
    flex-direction: column-reverse;
    padding-left: 8px;
    padding-right: 8px;
  }
  .first40 {
    width: 100%;
  }

  .form:hover ~ .first40 {
    display: flex;
  }

  .form {
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: 10px;
  }

  ul li {
    font-size: 12px;
  }
  
  ul li img {
    height: 30px;
    width: 30px;
  }
}

/* Smartphones/Tablets (portrait) ----------- */
@media only screen
and (max-width : 768px) {
}